body
{
	background-color: #A9EAFE;
}

legend
{
	font-weight: bold;
}

.gras
{
	font-weight: bold;
}

.italique
{
	font-style: italic;
}

.rouge
{
	color: red;
}

.validation:hover
/* pour les boutons */
{
	color:green;
	font-weight:bold;
}

.annulation:hover
/* pour les boutons */
{
	color:red;
	font-weight:bold;
}
